body {
    background-color: rgb(33, 167, 167);
    text-shadow: 1px 1px 5px;
}

.AppTopPart, .AppMiddlePart, .AppBottomPart {
    background-color: rgb(74, 214, 214);
    text-shadow: 1px 1px 5px;
}

#AppTopPartInput, #AppBottomPartInputList, #AppBottomPartInputNote, #AppTopPartButton, 
#AppMiddlePartAllButton, #AppMiddlePartSelectedButton, #AppMiddlePartAllButton, 
#AppMiddlePartSelectedButton,  #AppBottomPartButtonList, #AppBottomPartButtonNote, 
#AppBottomPartAllButtonList, #AppBottomPartAllButtonNote, #AppBottomPartSelectedButtonList, 
#AppBottomPartSelectedButtonNote, #AppBottomPartEditButtonNote, #AppBottomPartEditButtonList,
#AppMiddlePartEditButtonTask, #AppBottomPartButtonAllNotes, #AppBottomPartButtonAllLists,
#AppMiddlePartButtonAllTasks {
    background-color: lightblue;
    border-radius: 50pt;
    border-color: 5px solid black;
    text-shadow: 1px 1px 5px;
}